.headshot-container img {
  max-width: 15em;
  border-radius: 100%;
}

.icon-menu {
  font-size: 2.5em;
  float: right;
  vertical-align: top;
}

.main-nav:hover ul {
  display: block;
}

.main-nav ul {
  display: none;
  list-style: none;
  clear: both;
}

.main-nav li {
  width: 100%;
  padding: 0.5em 3em 0.2em 0.5em;
  font-size: 2em;
}

#projects {
  display: block;
  text-align: center;
}

#projects article {
  margin: 0;
  padding: 0;
}

#projects p {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.project-title {
  margin: 0;
  font-size: 2.5em;
}

.template {
  display: none;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .main-nav {
    margin: .2em .2em .2em 1em;
  }

  .main-nav ul {
    display: block;
    text-align: left;
  }

  .main-nav ul li {
    display: inline;
    margin: 1em 1em 1em 1em;
    padding: 0;
  }

  .main-nav ul li:hover a {
    color: blue;
  }
}

.image-404 {
  width: 90%;
  margin: 0 auto;
}

.image-404 img {
  width: 100%;
  margin: 0 auto;
}
